# Terraform
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Sensitive files
key.json
access_key.txt
secret_key.txt
bucket_name.txt
backend_backup.tf
cluster-ca.crt
github-secrets.txt
# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Docker
.docker/
